<div class="page-header">
  <h3> <small><%= tag %>, <%= image_human_size %> Image </small></h3>
</div>


<div class="container">
<div class="col-12">
  <table class="table table-hover table-sm">
      <% layers.each do |layer| %>
        <tr class="layer-<%= layer['prefix'] %>">
          <td data-trigger="hover" data-toggle="popover" >
            <%= layer['created_by'][0..50] %>
          </td>
          <td class="d-none"><%= layer['created_by'] %></td>
          <td><small><%= layer['created'][0..20] %></small></td>
          <td align="right"><%= layer['human_size'] %></td>
          <td><span class="bullet"><%= layer['size'] %>,<%= layer['max'] %></span></td>
        </tr>
      <% end %>
  </table>
</div>
</div>
